## toc.config ##
# /radio/frequency
# /radio/mute
# /radio/unmute
# /radio/on
# /radio/off
# /radio/seek_up
# /radio/seek_down

installation := -e I'll recommend to install the binary in the ~/bin folder. You dont have to deal with right issues there.

listen := listen 224.0.0.3 7474
-o := -o 224.0.0.3 7474
:= -o
test := -o

f1 := 8790
f2 := 8880
f3 := 8960
f4 := 9020
f5 := 9140
f6 := 9240
f7 := 9310
f8 := 9360
f9 := 9430
f_10 := 9580
f_11 := 9630
f_12 := 9770
f_13 := 9880
f_14 := 9970
f_15 := 10060
f_16 := 10130
f_17 := 10260
f_18 := 10340
f_19 := 10460
f_20 := 10550
! := /radio/frequency
set1 := /1! f1 -o /2! f2 -o /3! f3 -o /4! f4 -o /5! f5 -o /6! f6 -o /7! f7 -o /8! f8 -o /9! f9 -o /10! f_10 -o /11! f_11 -o /12! f_12 -o /13! f_13 -o /14! f_14 -o /15! f_15 -o /16! f_16 -o /17! f_17 -o /18! f_18 -o /19! f_19 -o /20! f_20
#set2 := /1! f2 -o /2! f4
radios an := /*/radio/on -o /*/radio/seek_up
radios aus := /*/radio/off
#set1 := /1! f1 -o /2! f2
#beispiel
#b := a+1
#a := b+1   wird zu  a := a+1+1
#erg := a b
#resulalt a+1+1 a+1
